ul,
li,
a,
img {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    resize: none;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 15px;
    align-items: center;
    width: calc(100% - 30px);
}